.list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    max-width: 460px;
}

.btn {
    padding: 6px 8px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.5s;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

@media (hover: hover) {
    .btn:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .btn:hover img {
        transform: scale(0.8);
    }
}


.btn img {
    width: 50px;
    height: 30px;
    transition: transform 0.5s;
}