.burger {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: none;
  position: relative;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burgerTopLine,
.burgerMiddleLine,
.burgerBottomLine {
  width: 40px;
  height: 4px;
  background-color: aliceblue;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burgerTopLine {
  top: 30%;
  transition: top 0.3s 0.3s, transform 0.3s;
}

.burgerMiddleLine {
  transition: transform 0.3s 0.3s;
  top: 50%;
}

.burgerBottomLine {
  top: 70%;
  transition: top 0.3s 0.3s, transform 0.3s;
}

.burger.open .burgerTopLine {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: top 0.3s, transform 0.3s 0.3s;
}

.burger.open .burgerMiddleLine {
  transform: scale(0);
}

.burger.open .burgerBottomLine {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.3s, transform 0.3s 0.3s;
}
